ion-header ion-toolbar{
    --background: url("../../../../../Pics/homeHeaderBackground.jpg");
}

.invalid-feedback{
    color: red;
}

.createNotePage{
    background-color: lightgrey;
    min-height: 100%
}