ion-header ion-toolbar{
    --background: url("../../../../../Pics/homeMenuBackground.jpg");
}

ion-col, ion-row, ion-list{
    background: transparent;
}

.attemptPage{
    background-color: lightgrey;
    min-height: 100%;
}