ion-header ion-toolbar{
    --background: url("../../../../../Pics/homeHeaderBackground.jpg");
}

.editPaperPage{
    background-color: lightgrey;
    min-height: 100%;
}

.img_input {color: rgba(0, 0, 0, 0);}