<ion-header>
  <ion-toolbar>
    <ion-row>
        <ion-title>Question Trash</ion-title>
        <ion-col>
            <fa-icon class="ion-float-right ion-margin-end" [icon]="faTimes" (click)="dismissDeleteModal()"></fa-icon>
        </ion-col>
    </ion-row>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>
    <ion-item class="ion-margin">
        <ion-label>
          Confirm Delete
        </ion-label>
        <ion-select placeholder="Select" class="form-control" name="confirmDeletions" [(ngModel)]="confirmedTrashQuestionArray" multiple=true>
          <ion-select-option *ngFor="let trashQuestion of trashQuestionArray" [value]="trashQuestion.id">{{trashQuestion.data.question}}</ion-select-option>
        </ion-select>
  </ion-item>
  <ion-button class="ion-float-right ion-margin-end" color="danger" (click)="deleteQuestions()">Confirm</ion-button>
</ion-content>
